@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para ocupar toda a tela */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}
